<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.0.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
  <package id="DynamicData" version="6.7.0.2529" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="Fluent.Ribbon" version="6.1.0.326" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="NLog" version="4.5.11" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="4.7.1" targetFramework="net461" developmentDependency="true" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="squirrel.windows" version="1.9.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net461" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net461" />
  <package id="WpfAnimatedGif" version="1.4.17" targetFramework="net461" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net451" />
</packages>