<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
    <target xsi:type="File" name="fErrors" fileName="${basedir}/Filtration_errors_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="fDebug" fileName="${basedir}/Filtration_debug_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="fUpdater" fileName="${basedir}/Filtration_updater_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="Debugger" name="cDebug" layout="${longdate} ${uppercase:${level}} ${message}"/>
  </targets>

  <rules>

    <!-- Squirrel Updater Log-->
    <logger name="SquirrelLogger" minlevel="Trace" writeTo="fUpdater" />

    <!-- Uncomment the Debug line to enable Debug logging -->
    <!--<logger name="*" minlevel="Debug" writeTo="fDebug" final="true" />-->
    <logger name="*" minlevel="Error" writeTo="fErrors" />
    <logger name="*" minlevel="Trace" writeTo="cDebug" />

    
  </rules>
</nlog>