<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.0" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net451" />
  <package id="Extended.Wpf.Toolkit" version="2.6" targetFramework="net461" />
  <package id="Fluent.Ribbon" version="3.6.1.236" targetFramework="net451" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.2.0.0" targetFramework="net451" />
  <package id="NLog" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net461" />
  <package id="WpfAnimatedGif" version="1.4.14" targetFramework="net461" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net451" />
</packages>